@import 'variables.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://use.typekit.net/vux1efx.css');

//Global Styles
body {
  background: $body-bg;
  font-family: $font-body;
  color: $white;
}

h1,h2,h3,h4 {
  font-weight: lighter;
}

*:focus {
  outline: none !important;
}

::placeholder {
  color: $input-color-placeholder !important;
}

html{
  &.no {
    overflow:hidden !important;
  }
}

#root, body {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  &.services {
    background: $black url('../../assets/img/triangle.svg') no-repeat;
    background-size: 156%;
    background-position: 200% 0;
  }
  // &.work {
  //   background: $black url('../../assets/img/triangle.svg') no-repeat;
  //   background-size: 72%;
  //   background-position: 200% -50%;
  // }
}

.main-body {
  height: 100vh;
  display: flex;
}

a {
  transition: .3s all;
}
h4 {
  font-family: $font-btn;
  color: $white;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
}
.headline {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1px;
  color: white;
}

.btn {
  font-family: $font-btn;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  height: 65px;
  padding: 0 50px;
  transition: .3s all;
  &.btn-white {
    color: white;
    border: 2px solid white;
    font-size: 18px;
  }
  &.btn-port {
    align-items: center;
    display:flex;
    margin-right: 1.5rem;
    svg {
      margin-left: .5rem;
    }
  }
  &:hover {
    background: $purple;
    border: $purple;
  }
}

.bg-about {
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  overflow: hidden;
  background: url('../img/bg_about.jpg') no-repeat center center;
  background-size: cover;
}

.full-width {
  width: 100%;
}

.mt-6 {
  margin-top: 5rem;
}

.container-wrap {
  background: $black;
}
