@import 'assets/scss/variables.scss';

.top-nav {
    display: flex;
    width: 100%;
    max-height: 140px;
    position: fixed;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1.5rem 0;

        .logo-header {
            max-height: 93px;
            width: auto;
        }
        button {
            @extend .btn-transparent;
            margin: 0 0 0 auto;
        }
    }
}